*{
    box-sizing: border-box;
}

body,html {
    margin: 0;
    padding: 0;
}

#main-container{
    height: 100vh;
    width: 100vw;
    background-color: blue;

    display: flex;

    margin: 0 auto;
    padding: 0;
}

#left{
    height: 100%;
    width: 30%;

    background-color: green;
    border: 1px solid red;
}

#right{
    height: 100%;
    width: 70%;
    border: 1px solid white;
}

#leftInput{
    background-color: yellow;
}

#leftPanelProject{
    display: flex;
    flex-direction: column;
    border: 1px red solid;
}

#leftPanelProject div{
    border: 1px red solid;
}

#leftPanelProject div:hover{
    border: 3px wheat solid;
}

.projectDiv{
    display: flex;
    justify-content: space-between;
}

.projectNameBtn{
    display: flex;
}